.h-table-header,
.h-table-row {
  display: grid;
  grid-template-columns: 3fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr;
  align-items: center;
  padding: 16px 20px;
  font-size: 15px;
}

.h-table-header {
  font-size: 12px;
  letter-spacing: 0.5px;
  color: #9ca3af;
  text-transform: uppercase;
  background: #f9fafb;
}

.h-table-row {
  border-top: 1px solid #f1f5f9;
}

.h-table-row:nth-child(odd) {
  background-color: #e4efff4b;
}