/* Top Header */
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title h2 {
  margin: 0;
  font-size: 26px;
  color: #111827;
}

.title p {
  margin-top: 6px;
  font-size: 14px;
  color: #6b7280;
}

/* Action Buttons */
.header-actions {
  display: flex;
  gap: 10px;
}

.btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 14px;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
  border: none;
}

.btn.outline {
  background: #ffffff;
  border: 1px solid #e5e7eb;
  color: #374151;
}

.btn.primary {
  background: #2f74dc;
  color: #ffffff;
}

.btn span {
  font-size: 18px;
}

/* Tabs */
.tabs {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.tab {
  padding: 6px 14px;
  border-radius: 999px;
  font-size: 13px;
  background: #f3f4f6;
  color: #374151;
  border: none;
  cursor: pointer;
}

.tab.active {
  background: #111827;
  color: #ffffff;
}


/* ----------------------- */

.o-table-header,
.o-table-row {
  display: grid;
  grid-template-columns: 3fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr;
  align-items: center;
  padding: 16px 20px;
  font-size: 15px;
}

.o-table-header {
  font-size: 12px;
  letter-spacing: 0.5px;
  color: #9ca3af;
  text-transform: uppercase;
  background: #f9fafb;
}

.o-table-row {
  border-top: 1px solid #f1f5f9;
}

.o-table-row:nth-child(odd) {
  background-color: #e4efff4b;
}

.o-buy {
  color: #16a34a;
  background-color: #e0ffec;
  width: fit-content;
  padding: 4px 8px;
  width: 50px;
  text-align: center;
}

.o-sell {
  color: #dc2626;
  background-color: #ffe4e4;
  width: fit-content;
  padding: 4px 8px;
  width: 50px;
  text-align: center;
}

.o-table-row .type , .status, .datetime {
  font-size: 12px;
}

.status {
  color: #16a34a;
}

/* .type, .datetime, .status, .total, .execution, .quantity  {
  font-size: 14px;
} */